<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.janet.campustrade">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RegisterActivity"
            android:label="@string/title_activity_register"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".HomeActivity"
            android:label="@string/title_activity_home"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SupplierHomeActivity"
            android:label="@string/title_activity_supplier_home"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ProfileActivity"
            android:label="@string/title_activity_profile"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".UpdateProfileActivity"
            android:label="@string/title_activity_update_profile"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AddItemActivity"
            android:label="@string/title_activity_add_item"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ItemsViewActivity"
            android:label="@string/title_activity_items_view"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".OrdersActivity"
            android:label="@string/title_activity_orders"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".PaymentsActivity"
            android:label="@string/title_activity_payments"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".EditItemActivity"
            android:label="@string/title_activity_edit_item"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ProfilePicActivity"
            android:label="@string/title_activity_profile_pic"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".FavouritesActivity"
            android:label="@string/title_activity_favourites"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CategoriesActivity"
            android:label="@string/title_activity_categories"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MyFavouritesActivity"
            android:label="@string/title_activity_my_favourites"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CartItemsActivity"
            android:label="@string/title_activity_cart_items"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>